body {
    background-color: #CB8A2D;
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-size: 18px;
}

#container {
    width: 550px;
    height: auto;
    text-align: center;
    background-color: #f5f5f5;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border-radius: 20px;
    margin-bottom: 50px;
}

.content {
    text-align: left;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ol {
    padding-left: 7%;
}

a {
    text-decoration: none;
    color: #56963c;
}

a:hover {
    color: #000;
}

a.website-name {
    font-family: 'Lobster', Calibri, sans-serif;
    font-size: 60px;
    color: #f64900;
}

a.website-name:hover {
    color: #000;
}

img.food {
    width: 500px;
    border-radius: 15px;
}

h1 {
    margin: 0;
}

.source {
    font-size: 16px;
}

.note {
    margin-top: 30px;
    font-style: italic;
}